# Dependencies
/PLICA_V6/generacion_datos/
/PLICA_V6/wifi/*
/PLICA_V6/bluetooth/*
/PLICA_V6/fw/*
/PLICA_V6/rf/*
/PLICA_V6/rm/*
/PLICA_V6/siem/*


# Not ignore
!*/wifi/StructuredStreaming/
!*/bluetooth/StructuredStreaming/
!*/fw/StructuredStreaming/
!*/rf/StructuredStreaming/
!*/rm/StructuredStreaming/
!*/siem/StructuredStreaming/